<div class="container">
  <h1>Ejercicio No 1.</h1>
<div>
  
  <p>
      El profesor desea entrenar a sus estudiantes para una
      misión, para este entrenamiento desea saber cuál es el
      número de pulsaciones. que debe tener una persona por
      cada 10 segundos de ejercicio aeróbico según su edad y
      sexo. El profesor sabe que la formula que se aplica es:
  </p>

</div>

  <p>

      <b> Para el sexo femenino:</b>

      <br/>
      pulsaciones = (220 -edad)/10
      

      <br/>
      <br/>

      <b>Para el sexo masculino:</b>

      <br/>
      pulsaciones = (210 -edad)/10

  </p>

</div>